<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
     <%= link_to  "Cipher", "#", class:"cipher-icon" %>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
      <% if admin_user_signed_in? %>
        <li><%= link_to current_admin_user.store_name, root_path, class: "store-name" %></li> 
        <li><%= link_to 'ログアウト', destroy_admin_user_session_path, method: :delete, class: "logout" %></li> 
      <% else %> 
        <li><%= link_to 'ログイン',  new_admin_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_admin_user_registration_path, class: "sign-up" %></li>
      <% end %> 
      <%# //deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
    </ul>
  </div>
</header>



