<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class = 'top-page-wrapper'>
    <div class='search-bar-contents'>
     <%= link_to  "Cipher", root_path, class:"cipher-icon" %>
    </div>
    <%= form_with(url: "#", local: true, method: :get, class:"search-form") do |form| %>
      <div class= "form-container">
        <%= form.text_field :keyword, placeholder:"イベントを検索する", class:"search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      </div>
    <% end %>
    <% if admin_user_signed_in? %>
      <%= link_to(new_event_path, class: 'post-btn') do %>
        <p class="purchase-btn-text">投稿する</p>
      <% end %>
    <% end %>
    <div class='nav'>
      <ul class='lists-right'>
        <% if admin_user_signed_in? %>
          <li><%= link_to current_admin_user.store_name, admin_user_path(current_admin_user.id), class: "name-btn" %></li> 
          <li><%= link_to 'Log out', destroy_admin_user_session_path, method: :delete, class: "logout" %></li> 
        <% else %> 
          <li><%= link_to 'Log in',  new_admin_user_session_path, class: "login" %></li>
          <li><%= link_to 'Sign up', new_admin_user_registration_path, class: "sign-up" %></li>
        <% end %> 
     </ul>
    </div>
  </div>
</header>



