<% content_for :slick_parallel do %>
  <%= stylesheet_link_tag 'events/index' %>
<% end %>


<%= render "shared/header" %>

<%# /イベント一覧 %>

<div class="index-wrapper">
  <h2 class='events-title'>PICK UP</h2>
  <div class='event-contents'>
    <ul class='event-lists'>
      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %> 
      <% @events.each do |event| %>
      <li class='event-list'>
        <%= link_to event_path(event.id) do %>
        <div class='event-img-content'>
          <%= image_tag event.event_image, class: "event-img-list" %>
        </div>
        <div class="event-date">
          <%= event.event_date  %>
        </div>
        <p class='event-name'>
            <%= event.name %>
        </p>
        <% end %>
        <div class='event-info'>
          <div class='event-details'>
            <span><%= "都道府県" %><br><%= link_to event.admin_user.store_name , admin_user_path(event.admin_user_id) , class: "admin-show-btn"%></span>
          </div>
        </div>
      </li>
      <% end %>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
    </ul>
  </div>  
  <%# /イベント一覧 %>

  

  <%# /店舗一覧 %>
  <div class='store-contents'>
    <h2 class='store-titles'>ライブハウス一覧</h2>
    <ul class='store-lists'>
      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <% @events.each do |event| %>
      <li class='list'>
        <%= link_to "#" do %>
          <div class='store-img-content'>
            <%= image_tag "laruskobe_003.jpg", class: "store-img" %>
          </div>
          <div class='store-info'>
            <h3 class='store-name'>
              <%= "店名" %>
            </h3>
            <div class='store-details'>
              <span><%= "都道府県" %><br><%= "市区町村" %></span>
            </div>
          </div>
        <% end %>
      </li>
      <% end %>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
    </ul>
  </div>
</div>



  <%# /店舗一覧 %>


<%= render "shared/footer" %>
<% content_for :parallel_slick do %>
  <script src="slick_index.js"></script>
<% end %>
