


<%= render "shared/header" %>

<%# /イベント一覧 %>

<div class="index-wrapper">
  <h2 class='events-title'>PICK UP</h2>
  <div class='event-contents'>
    <ul class='event-lists'>
      <% @events.each do |event| %>
      <li class='event-list'>
        <%= link_to event_path(event.id) do %>
        <div class='event-img-content'>
          <%= image_tag event.event_image, class: "event-img-list" %>
        </div>
        <div class="event-date">
          <%= event.event_date.strftime("%Y年%m月%d日 %H:%M")  %>
        </div>
        <p class='event-name'>
            <%= event.name %>
        </p>
        <% end %>
        <div class='event-info'>
          <div class='event-details'>
            <span class="prefecture"><%= event.admin_user&.admin_profile&.prefecture&.name %><br><%= link_to event.admin_user.store_name , admin_user_path(event.admin_user_id) , class: "admin-show-btn"%></span>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>  
  <%# /イベント一覧 %>

    <div id="japan-map"></div>

  <%# /店舗一覧 %>
  <div class='store-contents'>
    <h2 class='store-title'>Live House</h2>
    <ul class='store-lists'>
      <% @admin_users.each do |admin_user| %>
      <li class='list'>
        <%= link_to admin_user_path(admin_user.id) do %>
          <% unless admin_user&.admin_profile&.admin_image == nil %>
            <%= image_tag  admin_user&.admin_profile&.admin_image, class: 'store-img' %>
          <% end %>
          <div class='store-info'>
            <h3 class='store-name'>
              <%= admin_user.store_name %>
            </h3>
            <div class='store-details'>
              <span><%= admin_user&.admin_profile&.prefecture&.name %><%=  admin_user&.admin_profile&.municipality  %></span>
            </div>
          </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>



  <%# /店舗一覧 %>


<%= render "shared/footer" %>



