<%= render 'shared/header' %>

  <div class="user-contents">
    <div class="search-title">
      検索結果
    </div>
    <ul class='show-events'>
      <%  @events.each do |event| %>
      <li class="show-event">
        <%= link_to event_path(event.id) do %>
        <%= image_tag event.event_image, class:'show-event-img' %>
        <div class='show-event-date'>
          <%= event.event_date.strftime("%Y年%m月%d日 %H:%M")  %>
        </div>
        <p class="show-event-name">
          <%= event.name %>
        </p>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>

<%= render 'shared/footer' %>