<%= render 'shared/second_header' %>

<%# イベントの概要 %>
<div class="event-show">
  <div class="icon-box">
    <%= image_tag "icon_new.png", class: "event-icon" %>
  </div>
  
  <%# いいねボタン %>
  <div class= "like">
    <div class="event-name">
      <%= @event.name %>
    </div>
    <div id="likes_buttons_<%= @event.id %>">
      <%= render partial: 'likes/like', locals: {event: @event} %>
    </div>
  </div>
  <%# いいねボタン %>

  <div class="event-img-box">
    <%= image_tag @event.event_image, class:"event-img" %>
  </div>
  <% if admin_user_signed_in? && current_admin_user.id == @event.admin_user_id %>
    <%=  link_to "イベントの編集", edit_event_path(@event.id), method: :get, class: "event-edit-btn" %>
    <p class= "or-text">or</p>
    <%= link_to "削除", event_path(@event.id), method: :delete, class:"event-destroy" %>
  <% end %>

  <div class="schedule-event">
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-event">イベント名</th>
          <td class="detail-value"><%= @event.name %></td>
        </tr>
        <tr>
          <th class="detail-event">会場</th>
          <td class="detail-value"><%= @event.admin_user.store_name %></td>
        </tr>
        <tr>
          <th class="detail-event">イベント日時</th>
          <td class="detail-value"><%= @event.event_date.strftime("%Y年%m月%d日 %H:%M") %></td>
        </tr>
        <tr>
          <th class="detail-event">イベント概要</th>
          <td class="detail-value"><%= @event.content %></td>
      </tbody>
    </table>
  </div>
  <%# イベント概要 %>

  <%# コメントフォーム %>
  <div class="comments-container">
  <% if user_signed_in? %>
      <%= render partial: 'comments/form', locals: { comment: @comment, event: @event } %>
  <% end %>
  <%# コメントフォーム %>

  <%# コメント一覧 %>
    <h4 class="comment-index">＜コメント一覧＞</h4>
    <div id ='comments'>
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
  </div>
  <%# コメント一覧 %>
</div>


  <%= link_to '一覧へ戻る', root_path, class: 'list-back-link' %>

  <%= render 'shared/footer' %>
