<%= render 'shared/second_header' %>
<%# 商品の概要 %>
<div class="event-show">
  <div class="icon-box">
    <%= image_tag "icon_new.png", class: "event-icon" %>
  </div>
  <div class="event-name">
    <%= @event.name %>
  </div>

  <div class= "like">
    <h3>いいね件数: <%= @event.likes.count %></h3>
    <div class="like-wrapper">
      <%= button_to 'いいね', event_likes_path(@event), class:"like-create" %>
      <%= button_to 'いいねを取り消す', event_like_path(@event), method: :delete, class: "like-destroy" %>
    </div>
  </div>

  <div class="event-img-box">
    <%= image_tag @event.event_image, class:"event-img" %>
  </div>
  <% if admin_user_signed_in? && current_admin_user.id == @event.admin_user_id %>
    <%=  link_to "イベントの編集", edit_event_path(@event.id), method: :get, class: "event-edit-btn" %>
    <p class= "or-text">or</p>
    <%= link_to "削除", event_path(@event.id), method: :delete, class:"event-destroy" %>
  <% end %>

  <div class="schedule-event">
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-event">イベント名</th>
          <td class="detail-value"><%= @event.name %></td>
        </tr>
        <tr>
          <th class="detail-event">会場</th>
          <td class="detail-value"><%= @event.admin_user.store_name %></td>
        </tr>
        <tr>
          <th class="detail-event">イベント日時</th>
          <td class="detail-value"><%= @event.event_date.strftime("%Y年%m月%d日 %H:%M") %></td>
        </tr>
        <tr>
          <th class="detail-event">イベント概要</th>
          <td class="detail-value"><%= @event.content %></td>
      </tbody>
    </table>
  </div>

  <div class="comments-container">
    <%= form_with model: [@event, @comment], local: true do |f| %>
      <%= f.text_field :text, placeholder: "コメントする", rows:"2", id:"comment_text" %>
      <%= f.submit 'SEND' %>
    <% end %>
    <h4>＜コメント一覧＞</h4>
    <div id ='comments'>
      <% @comments.each do |comment| %>
        <p class = "latest_comment"><%= comment.created_at %></p>
        <p class="comment"><%= comment.text %></p>
      <% end %>
    </div>
  </div>
</div>

  <%= link_to '一覧へ戻る', root_path, class: 'list-back-link' %>

  <%= render 'shared/footer' %>
