<%= render "shared/second_header" %>

<div class="signup-wrapper">
  <div class="signup-main">
    <p class="title">
      ユーザー登録
    </p>
  <%= form_for(@user, url: user_registration_path) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="conteiner">
      <div class="form-box">
        <label for="form-text">
          ニックネーム
          <span class="red">*</span>
        </label>
        <div class="form-right">
           <%= f.text_area :nickname, class:"form-input-box", id:"store_name", placeholder:"ニックネーム", autofocus: true %>
        </div>
      </div>
      <div class="form-box">
        <label for="form-text">
          メールアドレス
          <span class="red">*</span>
        </label>
        <div class="form-right">
           <%= f.email_field :email, class:"form-input-box", id:"email", placeholder:"PC・携帯どちらでも可" %>
        </div>
      </div>
      <div class="form-box">
        <label for="form-text">
          パスワード
          <span class="red">*</span>
        </label>
        <div class="form-right">
          <%= f.password_field :password, class:"form-input-box", id:"password", placeholder:"6文字以上の半角英数字" %>
          <p class="info-text">※英字と数字の両方を含めて入力してください</p>
        </div>
      </div>
      <div class="form-box">
        <label for="form-text">
          パスワード（確認用）
          <span class="red">*</span>
        </label>
        <div class="form-right">
          <%= f.password_field :password_confirmation, class:"form-input-box", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
          <p class="info-text">※英字と数字の両方を含めて入力してください</p>
        </div>
      </div>     
      <div class='register-btn'>
        <%= f.submit "新規登録" ,class:"register-submit-btn" %>
      </div>
    </div>
  <% end %>
  </div>
</div>

<%= render "shared/footer" %>
